
.idea/IA.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
PL1a/__pycache__/game.cpython-38.pyc
PL1a/__pycache__/search.cpython-38.pyc
PL1a/__pycache__/util.cpython-38.pyc
